/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca');


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(4, 4, 26);
    // display: flex;
    // place-items: center;
    // justify-content: center;
    height: 100vh;
}
        /* NAV*/
  nav {
    display: grid;
    justify-content: center;
    padding: 0.5em 1em;
    // background-color: #fff;
    background-color: rgb(94, 150, 196);
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5);
}
nav ul {
    display: flex;
    place-items: center;
    align-self: auto;
    padding: auto;
    list-style: none;
    align-items: center;
}
nav ul li {
    margin: 0 0.5em;
    padding: 0.5em;
    align-items: center;

}
nav ul li a {
    text-decoration: none;  /* removes underline */
    color: #000;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
}
nav ul li a:hover {
    color: #000;
    font-style: normal;
    border-radius: 4px;
    background-color: rgb(104, 187, 255);
    transition: 0.3s;
}
.nav-item.active {

    background-color: rgb(104, 187, 255);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
}


main {
    // margin-top: 8em;
    display: grid;
    grid-template-areas: 
    "f1 f1 f2"
    "f3 f4a f4a"
    "f3 f4b f4b";
    gap : 0.8em;
    margin: 5em auto;
    width: 70%;
    height: 65%;
}

main > div {  
    border-radius: 1px;
    padding: 0.5rem;
    text-align: center;
    justify-content: center;
}
 .frme1 {
    color: rgb(243, 74, 12);
    grid-area: f1;
    background-color: rgb(243, 74, 12);
}
.frme2 {
    grid-area: f2;
    background-color: orange;
    color: orange;

}
.frme3 {
    grid-area: f3;
    background-color: rgb(80, 235, 80);
    color: rgb(80, 235, 80);
    
}
.frme4a {
    grid-area: f4a;
    background-color: rgb(104, 187, 255);
    color: rgb(104, 187, 255);
}
.frme4b {
    grid-area: f4b;
    background-color: rgb(104, 187, 255);
    color: rgb(104, 187, 255);
}